header{
    overflow: auto;
    padding: 20px;
    background: #d35645;
}
.imghomme{
    float:left;
    width: 100px;
}
.ev{
    display:inline;
    color: white;
    font-size: 40px;
}
nav{
    float:right;
    color: white;
    display: inline;
    padding: auto;
}
img{
    width: 20px;
    filter:invert(100%);
    
}
ul{
    list-style-type:none;
}
li{
    display: inline;
}
.barmenu{
    display: inline;
}